<header>
   <nav class="navbar navbar-expand-sm bg-light border-bottom shadow mb-3">
      <div class="container">
         <a class="navbar-brand" href="#"><img src="~/images/Logo.png" width="30" height="30" /> Employers App</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1">
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" asp-controller="Employers" asp-action="Index">Employers</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" asp-controller="Employers" asp-action="Create">Add New</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</header>
